.balanceSheetContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.balanceSheetWrapper {
  width: 90%;
  margin-top: 2rem;
  box-shadow: 0px 1px 1px 1px $accentDarkGray;
}
.balanceSheetComponent {
  display: flex;
  justify-content: center;
}
.balanceSheetWrapper {
  width: 90%;
  height: auto;
  margin-top: 2em;

}
.balanceSheetHeaderContainer {
  display: flex;
  height: 4rem;
  background: white;
  font-family: $coreFontBold;
  font-size: $fontSizeMedium;
  color: $coreSpanishGray;
  border-bottom: 1px solid $accentLightGray;
  .date {
    display: flex;
    align-items: center;
    flex-basis: 15%;
    margin-left: 20px;
  }
  .company {
    display: flex;
    align-items: center;
    flex-basis: 35%;
  }
  .account {
    display: flex;
    align-items: center;
    flex-basis: 35%;
  }
  .total {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%;
  }
}
.balanceSheetComponent {
  display:flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  background: $accentIsabelline;
  border-bottom: 1px solid $accentLightGray;
  font-size: $fontSizeMedium;
  .dateComponentContainer {
    flex-basis: 15%;
    margin-left: 20px;
    color: $accentDarkGray;
    font-family: $coreFontRegular;
  }
  .companyComponentContainer {
    flex-basis: 35%;
    font-family: $coreFontBold;
    font-size: $fontSizeMedium;
  }
  .accountComponentContainer {
    flex-basis: 35%;
    font-family: $coreFontRegular;
    color: $accentDarkGray;
    font-size: $fontSizeSmall;
  }
  .amountComponentContainer {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    font-family: $coreFontBold;
    .positiveIntegers {
      color: $coreSpanishGray;
    }
  }
}
.emptyLedger {
  color: $coreTomato;
}