.footerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  .footerWrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    align-items: center;
    .footerLeft {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      height: 75%;
      justify-content: space-between;
      color: #555555;
      font-family: $coreFontRegular;
      .footerLeftTop {
        display:flex;
        align-items: center;
        width: 85%;
        justify-content: space-between;
        font-size: $fontSizeMedium;
        * {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        .benchImage img {
          height: 1.75em;
        }
      }
      .footerLeftBottom {
        font-size: $fontSizeSmall;
      }
    }
    .footerRight {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75%;
      justify-content: space-between;
      .footerRightTop {
        display: flex;
        justify-content: space-between;
        width: 45%;
        align-self: flex-end;
        svg {
          font-size: 2rem;
          color: #555555;
          &:hover {
            cursor: pointer;
            color: $accentDarkGray;
          }
        }
      }
      .footerRightBottom {
        font-size: $fontSizeSmall;
        color: $accentDarkGray;
        font-family: $coreFontRegular;
      }
    }
  }
}