//Website Core Colors

$coreSpanishGray: #098B8C;
$coreTomato: #F16549;
$coreAlabaster: #EFEDE8;
$coreBrownYellow: #D2A764;
$accentDarkGray: #9b9b9b;
$accentLightGray: #dbdbdb;

//Website Font Sizes

$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeBase: 18px;
$fontSizeLarge: 24px;

//Website Core Fonts

$coreFontLight: 'Roboto-Light', sarif;
$coreFontRegular: 'Roboto-Regular', sarif;
$coreFontBold: 'Roboto-Bold', sarif;