@import 'fonts';
@import 'variables';
@import 'headerComponent';
@import 'balanceSheetStyles';
@import 'loaderComponentStyles';
@import 'footerStyles';

html,body {
  margin: 0;
  background: $coreAlabaster;
}
p {
  margin: 0;
}