@font-face {
  font-family: 'Roboto-Bold';
  src: url("../content/fonts/roboto-bold-webfont.eot");
  src: url("../content/fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-bold-webfont.woff") format("woff"), url("../content/fonts/roboto-bold-webfont.ttf") format("truetype"), url("../content/fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Bold-Italic';
  src: url("../content/fonts/roboto-bolditalic-webfont.eot");
  src: url("../content/fonts/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-bolditalic-webfont.woff") format("woff"), url("../content/fonts/roboto-bolditalic-webfont.ttf") format("truetype"), url("../content/fonts/roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Italic';
  src: url("../content/fonts/roboto-italic-webfont.eot");
  src: url("../content/fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-italic-webfont.woff") format("woff"), url("../content/fonts/roboto-italic-webfont.ttf") format("truetype"), url("../content/fonts/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../content/fonts/roboto-light-webfont.eot");
  src: url("../content/fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-light-webfont.woff") format("woff"), url("../content/fonts/roboto-light-webfont.ttf") format("truetype"), url("../content/fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Light-Italic';
  src: url("../content/fonts/roboto-lightitalic-webfont.eot");
  src: url("../content/fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../content/fonts/roboto-lightitalic-webfont.ttf") format("truetype"), url("../content/fonts/roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../content/fonts/roboto-medium-webfont.eot");
  src: url("../content/fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-medium-webfont.woff") format("woff"), url("../content/fonts/roboto-medium-webfont.ttf") format("truetype"), url("../content/fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Medium-Italic';
  src: url("../content/fonts/roboto-mediumitalic-webfont.eot");
  src: url("../content/fonts/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-mediumitalic-webfont.woff") format("woff"), url("../content/fonts/roboto-mediumitalic-webfont.ttf") format("truetype"), url("../content/fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: medium;
  font-style: italic; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../content/fonts/roboto-regular-webfont.eot");
  src: url("../content/fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../content/fonts/roboto-regular-webfont.woff") format("woff"), url("../content/fonts/roboto-regular-webfont.ttf") format("truetype"), url("../content/fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.headerComponentContainer {
  background: #098B8C;
  width: 100%;
  height: 75px;
  box-shadow: 0px 2px 5px 2px #9b9b9b; }
  .headerComponentContainer .headerWrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Roboto-Regular", sarif;
    font-size: 18px; }
    .headerComponentContainer .headerWrapper .benchLogoHeader {
      height: 2.25rem; }

.balanceSheetContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }

.balanceSheetWrapper {
  width: 90%;
  margin-top: 2rem;
  box-shadow: 0px 1px 1px 1px #9b9b9b; }

.balanceSheetComponent {
  display: flex;
  justify-content: center; }

.balanceSheetWrapper {
  width: 90%;
  height: auto;
  margin-top: 2em; }

.balanceSheetHeaderContainer {
  display: flex;
  height: 4rem;
  background: white;
  font-family: "Roboto-Bold", sarif;
  font-size: 14px;
  color: #098B8C;
  border-bottom: 1px solid #dbdbdb; }
  .balanceSheetHeaderContainer .date {
    display: flex;
    align-items: center;
    flex-basis: 15%;
    margin-left: 20px; }
  .balanceSheetHeaderContainer .company {
    display: flex;
    align-items: center;
    flex-basis: 35%; }
  .balanceSheetHeaderContainer .account {
    display: flex;
    align-items: center;
    flex-basis: 35%; }
  .balanceSheetHeaderContainer .total {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 15%; }

.balanceSheetComponent {
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  background: #F3F1EE;
  border-bottom: 1px solid #dbdbdb;
  font-size: 14px; }
  .balanceSheetComponent .dateComponentContainer {
    flex-basis: 15%;
    margin-left: 20px;
    color: #9b9b9b;
    font-family: "Roboto-Regular", sarif; }
  .balanceSheetComponent .companyComponentContainer {
    flex-basis: 35%;
    font-family: "Roboto-Bold", sarif;
    font-size: 14px; }
  .balanceSheetComponent .accountComponentContainer {
    flex-basis: 35%;
    font-family: "Roboto-Regular", sarif;
    color: #9b9b9b;
    font-size: 12px; }
  .balanceSheetComponent .amountComponentContainer {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    font-family: "Roboto-Bold", sarif; }
    .balanceSheetComponent .amountComponentContainer .positiveIntegers {
      color: #098B8C; }

.emptyLedger {
  color: #F16549; }

.loadingComponentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

@keyframes lds-cube {
  0% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes lds-cube {
  0% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.lds-cube {
  position: relative; }

.lds-cube div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  background: #098B8C;
  -webkit-animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-cube 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.lds-cube div:nth-child(2) {
  top: 10px;
  left: 110px;
  background: #F16549;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.lds-cube div:nth-child(3) {
  top: 110px;
  left: 110px;
  background: #2a2a2a;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.lds-cube div:nth-child(4) {
  top: 110px;
  left: 10px;
  background: #D2A764;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

.lds-cube {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px); }

.footerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .footerContainer .footerWrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    align-items: center; }
    .footerContainer .footerWrapper .footerLeft {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      height: 75%;
      justify-content: space-between;
      color: #555555;
      font-family: "Roboto-Regular", sarif; }
      .footerContainer .footerWrapper .footerLeft .footerLeftTop {
        display: flex;
        align-items: center;
        width: 85%;
        justify-content: space-between;
        font-size: 14px; }
        .footerContainer .footerWrapper .footerLeft .footerLeftTop *:hover {
          text-decoration: underline;
          cursor: pointer; }
        .footerContainer .footerWrapper .footerLeft .footerLeftTop .benchImage img {
          height: 1.75em; }
      .footerContainer .footerWrapper .footerLeft .footerLeftBottom {
        font-size: 12px; }
    .footerContainer .footerWrapper .footerRight {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75%;
      justify-content: space-between; }
      .footerContainer .footerWrapper .footerRight .footerRightTop {
        display: flex;
        justify-content: space-between;
        width: 45%;
        align-self: flex-end; }
        .footerContainer .footerWrapper .footerRight .footerRightTop svg {
          font-size: 2rem;
          color: #555555; }
          .footerContainer .footerWrapper .footerRight .footerRightTop svg:hover {
            cursor: pointer;
            color: #9b9b9b; }
      .footerContainer .footerWrapper .footerRight .footerRightBottom {
        font-size: 12px;
        color: #9b9b9b;
        font-family: "Roboto-Regular", sarif; }

html, body {
  margin: 0;
  background: #EFEDE8; }

p {
  margin: 0; }
